*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 10px;
    background: #66e6f7;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  input[type = "text"],
  input[type = "email"],
  input[type = "password"],
  input[type = "date"],
  input[type = "number"],
  textarea,
  select{
    background-color: #bcdbf5;
    border: none;
    font-size: 19px;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: cyan;
    color: black;
    box-shadow: 0 1px 0 lightgray inset;
    margin-bottom: 10px;
    border-radius: 5px;
  }  

  textarea{
      min-height: 50px;
      max-height: 200px;
      margin-bottom: 5px; 
      resize: vertical;
  }

  select{
    padding: 5px;
    height: 32px;
    border-radius: 2px;
  }

  button {
    padding: 19px 39px 18px 39px;
    color: lightgray;
    background-color: #06ba48;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    width: 49.5%;
    border-radius: 5px;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  }

  button:hover{
      background-color: #48a564;
  }
  
  fieldset{
    margin-bottom: 5px;
    border: none;
  }

  legend{
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: contents;
    margin-bottom: 8px;
  }

  .number {
    
    height: 30px;
    width: 30px;
    background-color: #00b341;
    color: lightgrey;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  }

  @media screen and (min-width: 500px) {
  
    form {
      max-width: 500px;
    }
  
  }